NEXT_PUBLIC_FB_API_KEY = Votre API KEY Firebase
NEXT_PUBLIC_FB_AUTH_DOMAIN = Votre auth domain du projet Firebase
NEXT_PUBLIC_FB_PROJECT_ID = L'ID du projet Firebase
NEXT_PUBLIC_FB_STORAGE_BUCKET = L'identifiant du storage bucket du projet Firebase
NEXT_PUBLIC_FB_APP_ID = L'identifiant de l'application web que vous avez créer sur Firebase

// Toute ses clé vous les trouverez sur le dashboard de votre projet Firebase